*{
  margin: 0;
  padding: 0;
}

body{
  background-image: url(../image/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

section{
  position: relative;
  left: 25%;
  margin: 5%;
  width: 500px
}

form{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  /*color: white;*/
}

label{
  width: 200px;
  display: inline-block;
}

input{
  margin-left: 14px;
  text-align: center;
  border-radius: 7px;
  width: 210px;
  height: 27px;
  padding: 7px;
  box-sizing: border-box;
}

textarea{
  display: block;
  margin: 14px;
  width: 400px;
  height: 120px;
  border-radius: 7px;
}

.input{
  margin: 21px;
}

.password1, .password2{
  margin: 14px 0;
}

#date{
  text-align: center;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
}

#check{
  margin: 0 7px 0 0;
  width: 10px;
}
